[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/path/to/your/AirBnB_clone_v4/web_dynamic
ExecStart=/path/to/your/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
